*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration:none ;
    font-family: 'Segoe UI',sans-serif;
    font-weight:bold ;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
h1,h3,h4{
    font-family: 'Segoe UI';
    font-weight: bold;
}
h2{
    font-family: chiller;
}
p{
    font-family: 'Segoe UI', sans-serif;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    
}
.container-container{
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
}

/*   navigation styles    */

#main-nav {
    background: #ffffff;
    position: sticky;
    z-index: 999;
    top: 0;
} 
#navbar {
    background: #ffffff;
}
#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#navlink{
    background: #cccccc;
}
#navlink .container{
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.container .nav-links ul{
    display: flex;
}
.container .nav-links ul li a{
    padding: 1rem;
}
input[type='text']::placeholder{   
    text-align: left;     
}
.icons{
    padding: 0.7rem;
}

.btn{
    display: inline-block;
    border: none;
    background: #f4f4f4;
    color: #333333;
    padding: 0.5rem 2rem;
}

.btn-color{
    display: inline-block;
    border: none;
    padding: 0.7rem 4rem;
    background: #ec7d55;
    color:#ffffff;
}
.btn-border{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 2rem;
}

.search{
    padding: 0.5rem 15rem;
}
.explore{
    float: left;
}
.pull-right{
    float: right;
}

#section1,
#section2,
#section3{
    padding-top: 3rem;
}
#section1 .container .left{
    text-align: right;
}
#section2 .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 4rem;
}

#section3 .container .view{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.box{
    position: relative;
    display: inline-block;
}
.box .circle {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    right: 3%;
    top: 78%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #828282;
    text-align: center;
    background: #ffffff;
}
#main-footer{
    background: #fbfbfb;
    padding: 2rem;
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 1rem;
    color: #333333;
    font-size: 1rem;
    height: 270px;
}
.btn-black{
    display: inline-block;
    border: none;
    background:black;
    color:#ffffff;
    padding: 0.5rem 1rem;
}
.news{
    padding-right: 4rem;
}
.newsletter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.hh{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.explore{
    float: left;
}
.pull-right{
    float: right;
}