*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration:none ;
    font-family: 'Segoe UI',sans-serif;
    font-weight:bold ;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
h1,h3,h4{
    font-family: 'Segoe UI';
    font-weight: bold;
}
h2{
    font-family: chiller;
}
p{
    font-family: 'Segoe UI', sans-serif;

}
#nav-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#navbar{
    position: sticky;
    z-index: 2;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    
}
.container .social{
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.container .social ul{
    display: flex;
}
.container .social ul li{
    padding: 1rem;
}
.container .container-content1{
    height: 80vh;
    background: url(../images/landing-image/Image197.png) no-repeat;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.container .container-content2 h1{
    font-size: 3rem;
}
.container .container-content2 h1 , p{
    box-sizing: border-box;
    background: #ffffff;
}
.container-object h3, p {
    text-align: center;
}
.btn{
    display: inline-block;
    border: none;
    background:#f4f4f4;
    color:#333;
    padding: 0.5rem 2rem;
}

.btn-shadow{
    box-shadow: 2px 2px black;
}
.btn-border{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 2rem;
}
#section1 .menclothes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 2rem;
}
#section1 .menclothes .double{
    display: grid;
    grid-gap: 3.5rem;
}
#section1 .menclothes .pad p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#section2 #womenimage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 2rem;
}
#section2 #womenimage .double {
    display: grid;
    grid-gap: 1.5rem;
}
.double #women{
    padding-bottom: 5rem;
    padding-top: 5.5rem;
}
.double #women p{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#section3 .container-object{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 2rem;
}
#section3 .container-object h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#section3 .container-object #object1 h3{
    color: red;
}
#section3 .container,
#section4 .container,
#section2 .container,
#section1 .container{
    padding-top: 5rem;
}
#section4 .container{
    padding-bottom: 30rem;
    background-image: url(../images/landing-image/big-shoes.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    
}
#story{
    position: relative;
    top: 70%;
}
.aa{
    text-align: left;
}
.ab {
    font-size: 2rem;
}
.aa ,
.ab,
.ac{
    padding-bottom: 1rem;
}
.icons{
    padding: 0.7rem;
}
