*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration:none ;
    font-family: 'Segoe UI',sans-serif;
    font-weight:bold ;
}
header{
    padding: 2rem;
}
/*
img{
    width: 100%;
}*/
li{
    list-style: none;
}
h1,h3,h4{
    font-family: 'Segoe UI';
    font-weight: bold;
}
h2{
    font-family: chiller;
}
p{
    font-family: 'Segoe UI', sans-serif;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    
}

/* navigation styles */
#main-nav{
    background: #ffffff;
    position: sticky;
    z-index: 999;
    top: 0;
}
#navbar {
    background: #ffffff;
}
#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#navlink{
    background: #fbfbfb;
}
#navlink .container{
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
}
#navlink .container ul{
    display: flex;
}
#navlink .container ul li a{
    padding: 1rem;
}
.icons{
    padding: 0.7rem;
}
.search{
    padding: 0.5rem 15rem;
}
.btn-color{
    display: inline-block;
    border: none;
    padding: 0.7rem 4rem;
    background: #ec7d55;
    color:#ffffff;
}
.explore{
    float: left;
}
.pull-right{
    float: right;
}

#section1 .container .wishes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 3rem;
}
#section1 .container .wishes .image_text{
    display: flex;
}
#p_color{
    padding-left: 1rem;
}
.red{
    color: red;
}
.btn{
    display: inline-block;
    border: none;
    padding: 0.5rem 5rem;
}
.btn-border{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 10rem;
    background: #ffffff;
}

#main-footer{
    background: #fbfbfb;
    padding: 2rem;
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 1rem;
    color: #333333;
    font-size: 1rem;
    height: 270px;
}
.btn-black{
    display: inline-block;
    border: none;
    background:black;
    color:#ffffff;
    padding: 0.5rem 1rem;
}
.news{
    padding-right: 4rem;
}
.newsletter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.hh{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.explore{
    float: left;
}
.pull-right{
    float: right;
}