*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration:none ;
    font-family: 'Segoe UI',sans-serif;
    font-weight:bold ;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
h1,h3,h4{
    font-family: 'Segoe UI';
    font-weight: bold;
}
h2{
    font-family: chiller;
}
p{
    font-family: 'Segoe UI', sans-serif;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    
}
.icons{
    padding: 0.7rem;
}
/*    navigation styles    */

#main-nav{
    background: #ffffff;
    position: sticky;
    z-index: 999;
    top: 0;
}
#navbar {
    background-color: #ffffff;
}
#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#navlink {
    background-color: #cccccc;
}
#navlink .container{
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
}
#navlink .container ul{
    display: flex;
}
#navlink .container ul li a{
    padding: 1rem;
}
#section1,
#section2,
#section3,
#section4{
    padding-top: 3rem;
}
#section1 .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#section1 .container .shop {
    position: relative;
    top: 30%;
}
#section1 .container .shop h1{
    font-size: 3.5rem;
}
#section2 .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
#section3 .container .style{
    padding-bottom: 3rem;
}
#section3 .container .objects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
#setion3{
    padding-bottom: 10rem;
}

.box{
    position: relative;
    display: inline-block;
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 85%;
    background: #ffffff;
    font-family: sans-serif;
    color: #333333;
    width: 50%;
}

.btn{
    display: inline-block;
    border: none;
    background:#f4f4f4;
    color:#333;
    padding: 0.5rem 2rem;
}
.btn-border{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 2rem;
}
.btn-color{
    display: inline-block;
    border: none;
    padding: 0.7rem 4rem;
    background:#ec7d55;
    color:#ffffff;
}
.btn-black{
    display: inline-block;
    border: none;
    background:black;
    color:#ffffff;
    padding: 0.5rem 2rem;
}
.search{
    padding: 0.5rem 15rem;
}
#section4 .container .view{
    padding: 2rem;
}

#section4 .container .view{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#main-footer{
    background: #fbfbfb;
    padding: 2rem;
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-gap: 1rem;
    color: #333333;
    font-size: 1rem;
    height: 300px;
}
.btn-black{
    display: inline-block;
    border: none;
    background:black;
    color:#ffffff;
    padding: 0.5rem 2rem;
}
.btn-border{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 2rem;
}
.news{
    padding-right: 4rem;
}
.newsletter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.hh{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.explore{
    float: left;
}
.pull-right{
    float: right;
}