@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

img{
  width: 100%;
}

a, a:hover{
  text-decoration: none;
}

/* UTILITY CLASSES */

.navbar{
  padding: 0;
  z-index: 2;
}

.nav-item{ 
  font-weight: 400;
}
.active{ border-bottom: hsl(136, 65%, 51%) solid 4px; }

.btn-primary{
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.card-img-top{
  height: 40%;
}

/* HEADER STYLING */
#main-header {
  background: url('../images/bg-intro-desktop.svg') no-repeat 750px -250px;
  height: 80vh;
}

#main-header .container,
#main-header .row{
  height: inherit;
}

#main-header img{
  left: 60%;
}

#main-header h1{
  color: hsl(233, 26%, 24%);;
}

/* Why section */
#why{
  background: hsl(220, 16%, 96%);
  /* padding-top: 7rem; */
}

#why img{
  width: 70px;
}

#why h1, #why h4{
  color: hsl(233, 26%, 24%);
}

.card, .card-header{
  background: inherit;
  border: none;
}

#why p{
  font-size: 0.9rem;
  margin-top: 0.6rem;
  color: hsl(233, 8%, 62%);
}

#why-content{
  margin-bottom: 3rem;
}

#why-content h1{
  margin-bottom: 1rem;
}

/* Footer */
#footer{
  background-color: hsl(233, 26%, 24%);
}

#footer a{ color: #fff ;}
#footer a:hover{ color: hsl(136, 65%, 51%); }

#footer-logo{
  width: 150px;
}

.social img{
  width: 25px;
  margin-right: .5rem;
}
.social img:hover{ fill: hsl(136, 65%, 51%); }


#footer ul li{
  list-style: none;
  margin: .5rem;
}

#footer #request{
  color: hsl(233, 8%, 62%);
}

/* Attribution */

.attribution { font-size: 15px; text-align: center; color: #fff; }
.attribution a { color: hsl(228, 45%, 44%); }


@media(max-width: 767px){
  #main-header img{
    /* position: relative !important; */
    left: 0;
    bottom: 50%;
    order: 1;  
  }

  .header-content{
    order: 2;
  }

  .active{ border-bottom: none; }
}